::selection {
  color: white;
  background-color: rgb(16, 47, 85);
}

::-moz-selection {
  color: white;
  background-color: rgb(16, 47, 85);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(16, 47, 85);
  background: #f0eeeb;
}

.container {
  margin: 40px 32%;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: rgb(16, 47, 85);
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color:rgb(16, 47, 85);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 14%;
  }
}
